services:
  db:
    image: postgres:latest

    ports:
      - "5432:5432"

    restart: always
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
# No docker volumes specified,
#if we restart our docker environment we will lose our db data

#No networks too and container name